html
    head
        title Home Page
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        include ./template.pug
        div#welcome
            | Welcome to DELIVR
            br
            | Nothing brings people together 
            br
            | like good food.