html
    head
        title Order Page
        link(rel="stylesheet" type="text/css" href="style.css")
    body(onload="init()")
        include ./template.pug
        div#mainContent
        script(src="order.js")